[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
schedule = "*"
mysqlclient = "*"
psycopg2-binary = "*"
pymssql = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
